<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>j2ee-core</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<listener>
		<listener-class>lecture06.advServlet.CustomizeServletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>lecture06.advServlet.CustomizeServletContextAttributeListener</listener-class>
	</listener>
	<listener>
		<listener-class>lecture06.advServlet.CustomizeSessionListener</listener-class>
	</listener>
	<listener>
		<listener-class>lecture06.advServlet.CustomizeSessionAttributeListener</listener-class>
	</listener>
	<filter>
		<filter-name>CommentFilter</filter-name>
		<filter-class>lecture06.advServlet.CommentFilter</filter-class>
		<init-param>
			<param-name>hello</param-name>
			<param-value>world</param-value>
		</init-param>
		<init-param>
			<param-name>zhang</param-name>
			<param-value>li</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>CustomizeFilter1</filter-name>
		<filter-class>lecture06.advServlet.CustomizeFilter1</filter-class>
	</filter>
	<filter>
		<filter-name>CustomizeFilter2</filter-name>
		<filter-class>lecture06.advServlet.CustomizeFilter2</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CommentFilter</filter-name>
		<url-pattern>/CommentServlet</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CustomizeFilter1</filter-name>
		<url-pattern>/InfoServlet</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CustomizeFilter2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>InitResourceServlet</servlet-name>
		<servlet-class>lecture07.tagLib.InitResourceServlet</servlet-class>
		<load-on-startup>9</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>HelloWorld</servlet-name>
		<servlet-class>lecture02.servlet.HelloWorldServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>lecture02.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>lecture02.servlet.TestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>lecture02.servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoubleColorBallServlet</servlet-name>
		<servlet-class>lecture02.servlet.DoubleColorBallServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ForwardServlet</servlet-name>
		<servlet-class>lecture04.builtInObject.ForwardServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ValidateServlet</servlet-name>
		<servlet-class>lecture06.advServlet.ValidateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProcessServlet</servlet-name>
		<servlet-class>lecture06.advServlet.ProcessServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServiceServlet</servlet-name>
		<servlet-class>lecture06.advServlet.ServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>lecture06.advServlet.InitServlet</servlet-class>
		<load-on-startup>9</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>CookieServlet</servlet-name>
		<servlet-class>lecture06.advServlet.CookieServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserLoginServlet</servlet-name>
		<servlet-class>lecture06.advServlet.UserLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FilterLoginServlet</servlet-name>
		<servlet-class>lecture06.advServlet.FilterLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QueryServlet</servlet-name>
		<servlet-class>lecture06.advServlet.QueryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateServlet</servlet-name>
		<servlet-class>lecture06.advServlet.UpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CommentServlet</servlet-name>
		<servlet-class>lecture06.advServlet.CommentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InfoServlet</servlet-name>
		<servlet-class>lecture06.advServlet.InfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JSTLCore</servlet-name>
		<servlet-class>lecture07.tagLib.JSTLCore</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JSTLFmt</servlet-name>
		<servlet-class>lecture07.tagLib.JSTLFmt</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JSTLFn</servlet-name>
		<servlet-class>lecture07.tagLib.JSTLFn</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AjaxServlet</servlet-name>
		<servlet-class>lecture08.ajax.AjaxServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddServlet</servlet-name>
		<servlet-class>lecture08.ajax.AddServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>XMLServlet</servlet-name>
		<servlet-class>lecture08.ajax.XMLServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GsonServlet</servlet-name>
		<servlet-class>lecture08.ajax.GsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>lecture02.servlet.UploadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/HelloWorld</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/TestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoubleColorBallServlet</servlet-name>
		<url-pattern>/DoubleColorBallServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForwardServlet</servlet-name>
		<url-pattern>/ForwardServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ValidateServlet</servlet-name>
		<url-pattern>/ValidateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProcessServlet</servlet-name>
		<url-pattern>/ProcessServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceServlet</servlet-name>
		<url-pattern>/ServiceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InitServlet</servlet-name>
		<url-pattern>/InitServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CookieServlet</servlet-name>
		<url-pattern>/CookieServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserLoginServlet</servlet-name>
		<url-pattern>/UserLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FilterLoginServlet</servlet-name>
		<url-pattern>/FilterLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QueryServlet</servlet-name>
		<url-pattern>/QueryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateServlet</servlet-name>
		<url-pattern>/UpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommentServlet</servlet-name>
		<url-pattern>/CommentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InfoServlet</servlet-name>
		<url-pattern>/InfoServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>JSTLCore</servlet-name>
		<url-pattern>/JSTLCore</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JSTLFmt</servlet-name>
		<url-pattern>/JSTLFmt</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JSTLFn</servlet-name>
		<url-pattern>/JSTLFn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjaxServlet</servlet-name>
		<url-pattern>/AjaxServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddServlet</servlet-name>
		<url-pattern>/AddServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XMLServlet</servlet-name>
		<url-pattern>/XMLServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GsonServlet</servlet-name>
		<url-pattern>/GsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/UploadServlet</url-pattern>
	</servlet-mapping>
</web-app>